
    <footer class="footer pb-6 bg-primary text-white pt-6 mt-n9">
        <div class="container">
           
            <hr class="my-5">
            <div class="row">
                <div class="col mb-md-0">
                    <a  class="d-flex justify-content-center" href="./index.html">
                        <img height="25" class="navbar-brand-dark" src="/static/assets/img/brand/light.svg" alt="Logo light">
                        <img height="25" class="navbar-brand-light" src="/static/assets/img/brand/dark.svg" alt="Logo dark">
                    </a>
                <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                    <p class="font-weight-normal font-small mb-0">
                        &copy; Public Square
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    